body {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
	ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

	li {
	  float: right;
	}

	li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	}

	li a:hover:not(.active) {
	  color: #ddd;
	}

	li a.active {
	  color: black;
	}